:host {
  position: relative;
  display: block;
  width: 400px;
  height: 320px;

  ::ng-deep {
    .stacker-item {
      position: absolute;
      top: 0;
      left: 0;

      :first-child {
        width: 100%;
        height: 100%;
      }

      &.left-rotate {
        transform: rotate(-30deg);
      }

      &.right-rotate {
        transform: rotate(30deg);
      }
    }
  }

  .select-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 0;
    transition: all 0.2s;

    &-button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgb(50, 200, 10);
      cursor: pointer;
      opacity: 0.7;
      transition: all 0.2s;
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }

      &.active {
        border: 4px solid rgba(255, 255, 255, 0.4);
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
