<div class="item">
  <div>
    <h3>Fanout</h3>
    <stacker (animationend)="animationend($event)">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ4RniQr4e8VL-Lsjj-3qQkAW2x5aZ0upO9EWNDYl3BnR8bf8L">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Simple Spread</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.SimpleSpread">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ4RniQr4e8VL-Lsjj-3qQkAW2x5aZ0upO9EWNDYl3BnR8bf8L">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Random Rotation</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.RandomRotation">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ4RniQr4e8VL-Lsjj-3qQkAW2x5aZ0upO9EWNDYl3BnR8bf8L">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Side Slide</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.SideSlide">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ4RniQr4e8VL-Lsjj-3qQkAW2x5aZ0upO9EWNDYl3BnR8bf8L">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Side Grid</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.SideGrid">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Peek-a-boo</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.PeekaBoo">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div>
<!-- <div class="item">
  <div>
    <h3>Preview Grid</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.PreviewGrid">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div> -->
<div class="item">
  <div>
    <h3>Coverflow</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.Coverflow">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Leaflet</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.Leaflet">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Vertical spread</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.VerticalSpread">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Elastic spread</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.ElasticSpread">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Fan</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.Fan">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div>
<div class="item">
  <div>
    <h3>Queue</h3>
    <stacker (animationend)="animationend($event)" [effect]="StackerEffects.Queue">
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCc-1-He9YYgMnvaP1CawbPxyer3KieXBQR6NW-v0oeQC-f9iU">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWHh_3hNRDQXa_7Is9_hEvnM85zFM02ooNAr1c8ChDzchBaXek">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxBQDHi9zMvLgfXApwTSbgSKvh4jph5UtsHZLlawCgT3TxuQqd5w">
      </stacker-item>
      <stacker-item>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpzqmXFsHKn7e8sgJsHlSULGuRwnGdOEQoe-048Fzry2abvEhv">
      </stacker-item>
    </stacker>
  </div>
</div>
