<div>
  <div>
    <before-after [start]="50" [orientation]="Orientations.Horizontal">
      <before>
        <div class="title">Before</div>
        <img src="https://farm2.staticflickr.com/1638/26145024230_06acd55d1b_b.jpg" />
      </before>
      <after>
        <div class="title">After</div>
        <img src="https://farm2.staticflickr.com/1663/25814974803_d4c55ff708_b.jpg" />
      </after>
    </before-after>
  </div>

  <div>
    <before-after [start]="50" [orientation]="Orientations.Vertical">
      <before>
        <div class="title">Before</div>
        <img src="https://farm2.staticflickr.com/1638/26145024230_06acd55d1b_b.jpg" />
      </before>
      <after>
        <div class="title">After</div>
        <img src="https://farm2.staticflickr.com/1663/25814974803_d4c55ff708_b.jpg" />
      </after>
    </before-after>
  </div>
</div>
