:host {
  display: block;
  overflow: auto;

  height: calc(100vh);
  width: calc(100vw);

  ::ng-deep flip-box {
    width: 284px;
    height: 250px;

    .front{
      background: pink;
    }
    .back {
      background: orangered;
      color: white;
      h1 {
        margin: 0;
      }
    }
  }


}
