.app-container {
  display: flex;
  height: 100%;
}

.app-nav {
  width: 15%;
  height: 100%;
  background: #333333;
  border-right: 2px solid #ececec;
  padding: 12px 0;

  a {
    display: block;
    text-decoration: none;
    padding: 16px 0;
    color: white;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid white;
  }
}

.app-content {
  width: 85%;
  height: 100%;
  overflow: auto;
}
