<flip-box [effect]="FlipBoxEffects.FlipHorizontal">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Flip</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.FlipVertical">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Flip</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.SlideLeft">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Slide Left</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.SlideRight">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Slide Right</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.SlideTop">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Slide Top</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.SlideBottom">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Slide Bottom</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.Push">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Push</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.ZoomIn">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>ZoomIn</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.ZoomOut">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>ZoomOut</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.Fade">
  <flip-box-sideA>
    <img src="/assets/back.jpg">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Fade</h1>
  </flip-box-sideB>
</flip-box>


<pretty-box [effect]="PrettyBoxEffects.Apollo">
  <pretty-box-background>
    <h2 class="apollo_h2">Strong Apollo</h2>
    <img src="/assets/back.jpg">
  </pretty-box-background>
  <pretty-box-content>
    <p class="apollo_p">Apollo's last <br> game of pool <br> was so strange.</p>
  </pretty-box-content>
</pretty-box>

<pretty-box [effect]="PrettyBoxEffects.Steve">
  <pretty-box-background>
    <h2 class="steve_h2">Lenely STEVE</h2>
    <img src="/assets/back.jpg">
  </pretty-box-background>
  <pretty-box-content>
    <p class="steve_p">Steve was afraid of the Boogieman.</p>
  </pretty-box-content>
</pretty-box>

<pretty-box [effect]="PrettyBoxEffects.Duke">
  <pretty-box-background>
    <h2 class="duke_h2">MESSY DUKE</h2>
    <img src="/assets/back.jpg">
  </pretty-box-background>
  <pretty-box-content>
    <p class="duke_p">Duke is very bored. When he looks at <br> the sky, he feels to run.</p>
  </pretty-box-content>
</pretty-box>

<pretty-box [effect]="PrettyBoxEffects.Goliath">
  <pretty-box-background>
    <h2 class="goliath_h2">THOUGHTFUL GOLIATH</h2>
    <img src="/assets/back.jpg">
  </pretty-box-background>
  <pretty-box-content>
    <p class="goliath_p">When Goliath comes out, you should run.</p>
  </pretty-box-content>
</pretty-box>
