<flip-box [effect]="FlipBoxEffects.Flip">
  <flip-box-sideA>
    <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Flip</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.SlideLeft">
  <flip-box-sideA>
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Slide Left</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.SlideRight">
  <flip-box-sideA>
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Slide Right</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.SlideTop">
  <flip-box-sideA>
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Slide Top</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.SlideBottom">
  <flip-box-sideA>
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Slide Bottom</h1>
  </flip-box-sideB>
</flip-box>

<flip-box [effect]="FlipBoxEffects.Push">
  <flip-box-sideA>
    <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Push</h1>
  </flip-box-sideB>
</flip-box>



<flip-box [effect]="FlipBoxEffects.ZoomIn">
  <flip-box-sideA>
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>ZoomIn</h1>
  </flip-box-sideB>
</flip-box>



<flip-box [effect]="FlipBoxEffects.ZoomOut">
  <flip-box-sideA>
    <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>ZoomOut</h1>
  </flip-box-sideB>
</flip-box>



<flip-box [effect]="FlipBoxEffects.Fade">
  <flip-box-sideA>
    <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcZYUwlBWn307VXFuly8Wbtb5L9wgBYnmCZQc7abaNrjop_D70">
  </flip-box-sideA>
  <flip-box-sideB>
    <h1>Fade</h1>
  </flip-box-sideB>
</flip-box>

